<div class="row">
	
	<div class="col-lg-4 col-md-4 col-xs-4 col-xs-offset-1">
	<h1>Log in!</h1>
	<form action="/session" method="POST">
		<input
			type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">
		
		<div class="form-group">
			<label for="user_username">Username</label>
			<input class="form-control" type="text" name="user[username]" id="user_username">
		</div>
		
		<div class="form-group">
			<label for="user_password">Password</label>
			<input class="form-control" type="password" name="user[password]" id="user_password">
		</div>

		<br>
		<button type="submit" class="form-control btn btn-info">Log In</button>
	</form>

	</div>
	
</div>