<footer class="footer">
  <small>
    An App Academy doodle by <a href="http://github.com/lishiyo">Connie Li</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/appacademy/sql-curriculum/blob/master/projects/w3d3-url-shortener.md">project guidelines</a></li>
			<li><a href="http://www.appacademy.io/"></a></li>
    </ul>
  </nav>
</footer>