<% provide(:title, @tagtopic.topic) %>
<div class="row">
	<h1> <%=  @tagtopic.topic %> </h1>
  
	<div class="col-lg-6 col-md-offset-3">
		
		<div>
			<% if @tagtopic.shortened_urls.any? %>
			<div style="text-align:center;">
				<p style="font-size: 1.5em; color: gray"> submitted urls (<%= @tagtopic.shortened_urls.count %>)</p>
					<% @tagtopic.most_popular_for_tag.each do |url| %>
						<%= link_to url.long_url, "http://#{url.long_url}" %><br />
					<% end %>
					</div>
			<% end %>
		</div>
		
	
	</div>
</div>
