<ul>
  <li>
    <%= parent_comment.content %> <br>
    <%= parent_comment.author.username %> <br>
    <%= parent_comment.created_at %> <br>

  <% @all_comments.each do |some_comment| %>
    <% if some_comment.parent_comment_id == parent_comment.id %>
      <li>
       <%= render partial: 'comments/comment', locals: {parent_comment: some_comment} %>
     </li>
    <% end %>
    <% end %>
  </li>
</ul>
