<h1>Create a New List</h1>

<form id="new_list">
  <label for="list_title">Title</label>
  <input type="text" name="list[title]" id="list_title" value="<%= list.escape('title') %>">
  <br>
  <label for="list_ord">Importance:<br>
  <input type="radio" name="list[ord]" value="0">High<br>
  <input type="radio" name="list[ord]" value="1">Medium<br>
  <input type="radio" name="list[ord]" value="2">Low<br>
  </label>

  <input type="hidden" name="list[board_id]" value="<%= list.board.id %>">

  <input type="submit" value="make a list">
</form>
