<form id="login-user">
  <label>Username</label>
  <input type="text" name="user[username]" value="">
  <br>

  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <br>

  <button name="button">Log In User!</button>
</form>
