<h2 class="clickable" data-type="text" data-name="title"><%= post.escape('title') %></h2>
<br>
<h2 class="clickable" data-type="textarea" data-name="body"><%= post.escape('body') %></h2>
<br>
<a href="#/posts/<%= post.id %>/edit">Edit post</a>
<a href="#"><button>Back to Index</button></a>
