<% provide(:title, @user.name) %>
<div class="row">
	<h1> <%= @user.name %> </h1>
  
	<div class="col-lg-6 col-md-offset-3">
		<h2>
			<span id='fe_text' style="padding-right: 20px;"> <%= @last_short_url if @last_short_url %> </span>
			<button class='btn btn-info' data-clipboard-target='fe_text' data-clipboard-text='default' 
						id='d_clip_button' style="margin-left:20px;">
				<span>copy to clipboard</span>
				</button>
		</h2>
	
		<div>
			<% if @user.submitted_urls.any? %>
				<p style="font-size: 1.5em; color: gray"> submitted urls (<%= @user.submitted_urls.count %>)</p>
				<ol class="submitted_urls">
					<%= render @submitted_urls %>
				</ol>
			<% end %>
		</div>
		
	
	</div>
</div>


<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"));
// 		all_clips = [];
// 		$(".clipboard").each(function(idx) {
// 			current_clip = "d_clip_button_" + idx.toString();
// 			console.log(current_clip);
			
// 			var new_clip = new ZeroClipboard($(current_clip));
// 			all_clips.push(new_clip);
			
// 			console.log(new_clip);
// 		});
		
// 		$.each(all_clips, function(idx, clip){
// 				clip.on( "aftercopy", function( event ) {
// 					event.target.style.display = "none";
// 					console.log("Copied text to clipboard: " + event.data["text/plain"] );
// 				});
// 			});
			
  });
</script>