
@import "bootstrap";
@import "font-awesome";

ul, li {
  list-style: none;
  padding: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.list-show {
  float: left;
  width: 30%;
  height: auto;
  display: inline-block;
  background-color: yellow;
  margin: 10px;
  padding: 20px;
}

form#new_list {
  width: 50%;
  margin: 0 auto;
}

.card-show {
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

h2 {
  text-align: center;
}

div.board-show-header {
  padding: 20px;
  text-align: center;
}

.card-show button.delete-card {
  display:none;
}

.card-show:hover button.delete-card {
  display: inline;
}

button.delete-card {
  @extend .btn;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 3%;
  right: 0%;
}
